* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
}

body {
  font-family: "Hind Siliguri", sans-serif;
}

input:focus,
select:focus {
  border-bottom-color: #9c6b0f !important;
}

::-webkit-scrollbar {
  height: 6px;
}

.print-area {
  display: none;
}

@media print {
  .app-normal {
    display: none !important;
  }
  .print-area {
    display: block !important;
    padding: 10px;
  }
}
